$primary-color: #505050;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0px;
}

.popupContainer {
  position: relative;
  color: $primary-color;
  font-size: 12px;
  width: 700px;
  height: auto;
  padding: 10px 16px 0;
}

.experiments-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;

  th,
  td {
    border: solid 1px;
  }

  th {
    padding: 6px 0;
    text-align: center;
  }

  td {
    padding: 8px;
    max-width: 300px;
    overflow: hidden;
    word-break: break-all;
  }

  thead {
    background-color: #eee;
  }

  &__report {
    width: 48px;
  }

  &__caption {
    font-size: 14px;
    text-align: left;
  }

  &__test-id {
    color: $primary-color;
  }

  &__test-name {
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    text-decoration: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__optimize-report {
    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }

  &__name {
    width: 300px - 1px;
  }

  &__select {
    width: 100%;
  }

  // &__target-url {
  //   width: 250px - 1px;
  // }
  // &__pattern {
  //   width: 150px - 2px;
  // }
}

.experiments-table + .experiments-table {
  margin-top: 10px;
}

.experiments-update {
  display: block;
  margin: 8px 0px 8px auto;
}

.table-body {
  &__report {
    text-align: center;
  }
}

.patterns {
  &__list {
    padding: 0 0 0 20px;
    margin: 0;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
