$primary-color: #505050;
$border-color: #dadce0;
$form-border-color: #b6b9bb;
$background-color: #f8f9fa;
$table-color: #fff;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0px;
  color: $primary-color;
}

.popupContainer {
  position: relative;
  color: $primary-color;
  font-size: 12px;
  width: 700px;
  height: auto;
  padding: 18px 16px 0;
}

.experiments-table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-radius: 8px;
  border: solid 1px $border-color;
  background-color: $table-color;
  overflow: hidden;

  th,
  td {
    border-left: solid 1px $border-color;

    &:first-child {
      border-left: none;
    }
  }

  th {
    padding: 6px 0;
    text-align: center;
  }

  td {
    padding: 12px 8px 16px;
    max-width: 300px;
    overflow: hidden;
    word-break: break-all;
    border-top: solid 1px $border-color;
  }

  thead {
    background-color: #eee;
  }

  &__report {
    width: 48px;
    font-size: 11px;
  }

  &__caption {
    font-size: 14px;
    text-align: left;
    color: #5f6368;
    line-height: 1.4;
  }

  &__caption-icon {
    margin-right: 4px;
    vertical-align: bottom;
    font-size: 16px;
    color: #5f6368;
    line-height: 1.4;
    transition: transform 0.25s ease-out;

    &.mod-rotate-180 {
      transform: rotate(-180deg);
    }
  }

  &__test-name {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    text-decoration: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__test-name + &__test-id {
    font-size: 10px;
  }

  &__optimize-report {
    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }

  &__name {
    width: 300px - 1px;
  }

  &__section {
    margin: 0;
    padding-left: 0;
  }

  &__select {
    width: 100%;
    border: solid 1px $form-border-color;
    padding: 4px 2px;
    border-radius: 4px;
    color: $primary-color;
    outline: none;
  }
  &__input {
    border: solid 1px $form-border-color;
    padding: 4px 0px 4px 4px;
    border-radius: 4px;
    color: $primary-color;
    width: calc(100% - 6px);
    outline: none;
  }
}

.in-optimize .experiments-table {
  margin-top: 6px;
}

.experiments-table + .experiments-table {
  margin-top: 10px;
}

.experiments-buttons {
  margin: 12px 0;
  text-align: right;
}

.experiments-update {
  display: inline-block;
  padding: 4px 14px;
  border: none;
  border-radius: 4px;
  background-color: gray;
  color: white;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  &.mod-changed {
    background-color: #1a73e8;
  }
}

.experiments-help {
  display: inline-block;
  margin: 0 8px;
  padding: 3px 10px;
  border: solid 1px $form-border-color;
  border-radius: 4px;
  background: white;
  color: $primary-color;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  &__close {
    display: block;
    margin: 16px auto;
    padding: 2px 10px;
    border: solid 1px $form-border-color;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    user-select: none;
  }
}

.experiments-table .table-body {
  &__name {
    padding-left: 16px;
  }

  &__report {
    text-align: center;
  }

  &__pattern {
    background-color: $table-color;
    // transition: background-color 0.1s ease-out;
  }

  &__pattern.mod-changed {
    background-color: #e4e0ff;
  }
}

.finished-experiments {
  margin-top: 12px;
  user-select: none;
  transition: opacity 0.2s ease-out;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.sections {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: upper-alpha;
}

.patterns {
  padding: 0 0 0 20px;
  margin: 0;
}

.sections .patterns {
  padding-left: 10px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.message {
  margin-top: 0;
  margin-bottom: 14px;
  color: #202020;
  background-color: #f9dbdb;
  border-radius: 6px;
  padding: 1.2em 2.2em;

  word-break: keep-all;
  text-indent: -1em;

  span {
    display: block;
  }

  a {
    line-height: 2;
    font-size: 1.2em;
  }

  a + span {
    margin-left: 1em;
  }

  &__icon {
    font-size: 14px;
    vertical-align: bottom;
    margin-right: 2px;
  }
}

.test-type {
  border-radius: 8px;
  padding: 6px 8px;
  background-color: #f8f9fa;
  color: rgba(0, 0, 0, 0.6);
  user-select: none;
}

.debug-popup-data {
  font-size: 1px;
  height: 1px;
  color: $background-color;
  overflow: hidden;
  margin: 0;
}
