.help {
  border: solid 1px #f0f0f0;
  padding: 30px 40px;
  background: white;

  &__title {
    font-size: 30px;
  }

  &__item {
    padding: 10px;
    margin: 24px 0 0 24px;
    text-indent: -24px;
    font-size: 16px;

    img {
      width: 100%;
      display: block;
      padding-top: 10px;
    }

    &.mod-step-1 {
      img {
        width: 500px;
      }
    }
    &.mod-step-2 {
      img {
        width: 300px;
      }
    }
    &.mod-step-3 {
      img {
        width: 100px;
      }
    }
  }

  iframe + &__item {
    margin-top: 40px;
  }

  &__number {
    font-size: 20px;
    font-weight: bold;
    margin-right: 8px;
  }
}
